@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Rowdies:wght@300;400;700&family=Special+Gothic+Expanded+One&family=Yatra+One&display=swap');
 
.panel {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  
height: 40px;
background-color: #222f3d;
display: flex;
color: rgb(0, 232, 240);
align-items: center;
justify-content: space-evenly;
}

.panel-ops {
    font-family: "AbdoMaster-Normal", system-ui;
    font-weight: 400;
    font-style: normal;
  
height: 40px;
background-color: #222f3d;
display: flex;
color: rgb(0, 232, 240);
align-items: center;
justify-content: space-between;
}

.panel-ops a:hover,
.panel-ops a:nth-child(1){
    color: #ffffff;
    text-decoration: none;
}
.panel-ops a:nth-child(2){
    color: #ffffff;
    text-decoration: none;
}

.panel-ops a:nth-child(3){
    color: #ffffff;
    text-decoration: none;
}
.panel-ops a:nth-child(4){
    color: #ffffff;
    text-decoration: none;
}
.panel-ops a:nth-child(5){
    color: #ffffff;
    text-decoration: none;
}
.panel-ops {
    width: 60%;
    font-size: 0.88rem;
}


.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 23%;
    background-color:  #222f3d;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    background-repeat: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;

}

.box-content {
    color:#ffffff;
}

.hero-section {
    font-family: "AbdoMaster-Normal", system-ui;
    font-weight: 400;
    font-style: normal;
  
    height: 40px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.nav-search {
    display:flex;
    width: 800px;
    height:40px;
    border-radius:4px;
    
}

.search-select {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    
}
.search-input {
    color: rgb(36, 36, 36) ;
    text-align: center;
    width: 800px;
    font-size: 1rem;
   
}

.search-icon {
    width: 55px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color:  rgb(0, 232, 240);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6%;
    color: #222f3d;
}

.nav-search:hover {
    border: 3px solid  rgb(0, 232, 240)
}